@import "bootstrap/scss/bootstrap";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//fonts.googleapis.com/css?family=Playfair+Display&display=swap);
@import url(//fonts.googleapis.com/css?family=Dancing+Script&display=swap);

$theme-colors: (
    "primary": #2A55C2,
    "secondary": #9399A8,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);

* {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.mct {
    width: -webkit-calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: calc(100% - 200px);

    margin-left: 200px;
}

.form-signin {
    width: 100%;
    max-width: 350px;

    padding: 15px;
    margin: auto;
}

.alert-trim {
    display: inline-block;
}

table {
    width: 75%;
}

.nst {
    width: 70% !important;
}

.pict {
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #333334;
    z-index: -1;
    height: 100vh;

    div {
        cursor: pointer;
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: white;
        background-color: #0a0a0a50;
        max-width: 700px;
        padding: 0.3rem 0.6rem;
        border-radius: 5px;
        font-size: 0.8rem;
        -webkit-user-select: none;
        user-select: none;
        -webkit-transition: background-color .2s linear;
        -moz-transition: background-color .1s linear;
        -o-transition: background-color .1s linear;
        transition: background-color .1s linear;

        &:hover {
            background-color: #0005;
        }

        .tit {
            font-size: 0.9rem;
        }
    }
}

.index {
    color: $light;

    div {
        gap: 25px;

        div > div {
            width: 100%;

            p {
                margin: 0;
            }
        }
    }

    .text {
        h1 {
            font-family: 'Playfair Display', 'Spoqa Han Sans Neo', 'serif';
            margin: 10vh 0;
        }
    }

    .info {
        .profile-href {
            a {
                color: $light;
                text-decoration: none;
                -webkit-transition: background-color .2s linear;
                -moz-transition: background-color .1s linear;
                -o-transition: background-color .1s linear;
                transition: background-color .1s linear;

                &:hover {
                    background-color: hsla(0, 0, 53%, .267);
                    cursor: pointer;
                }

                &:nth-child(1) {
                    border-radius: 10px 10px 0 0;
                }

                &:nth-last-child(1) {
                    border-radius: 0 0 10px 10px;
                }
            }

            hr {
                margin: 0;
                width: 100%;
            }
        }

        div {
            backdrop-filter: brightness(60%);
            min-width: 150px;

            div .number {
                font-family: 'Dancing Script', 'serif';
            }

            div {
                backdrop-filter: none;
            }
        }
    }
}

.hangang {
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #f2f2f2;
    width: 50%;

    .tmp {
        font-size: 5rem;
        font-weight: 900;
    }

    .quote {
        font-size: 1.7rem;
        font-weight: 400;
    }
}

.meal {
    div {
        height: 400px;
    }
}

.lnst {
    min-width: 600px;
}

.lnst > div {
    display: grid;
    grid-template-rows: 74px 1fr 1fr 1fr 72px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    justify-content: space-between;

    & > p {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    & > div:nth-last-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
    }


    & > div.elem {
        display: grid;
        grid-template-columns: 60px 120px 60px;
        grid-column-gap: 10px;
        width: 260px;
    }

    & > div.elem {
        justify-self: center;
    }
}

.icon {
    width: 25px;
    height: 25px;
}

@include media-breakpoint-down(lg) {
    table {
        width: 100% !important;
    }
    div#root {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr;
    }


    .nst {
        width: 90% !important;
    }
    .mgw {
        width: 100% !important;
    }
    .mct {
        width: 100%;
        margin: 0;
    }
}

@include media-breakpoint-down(md) {
    .nst {
        width: 100% !important;
    }
    .mct {
        padding: 1rem 12px !important;
    }
    .lnst {
        margin: 1rem 0 !important;
    }
    .stack-flow {
        flex-direction: column;
        gap: 0 !important;
    }
    .hangang div {
        width: 80%;
    }
    .meal {
        flex-direction: column;

        div {
            height: auto;
            width: 100%;
        }
    }

    .index {
        .text {
            h1 {
                margin: 0 0 20px 0;
            }

            p {
                display: none;
            }
        }

        .info {
            gap: 10px;
            flex-direction: column;
        }
    }

}

@include media-breakpoint-down(sm) {
    .pict div {
        max-width: 75%;
        font-size: 0.6rem;
        top: 80px;

        .tit {
            font-size: 0.8rem;
        }
    }
    .info {
        height: calc(100vh - 250px);;
        overflow-y: auto;
        justify-content: flex-start !important;
    }
    .table-cover {
        overflow-x: auto;

        .table {
            width: 200% !important;
        }

        .table-narrow {
            width: 100% !important;
        }
    }
    .only-desktop {
        display: none;
    }
}

.lns-seat {
    width: 60px !important;
    height: 60px !important;

    div span {
        font-size: 0.9rem;
    }
}

.w-fit {
    width: -moz-fit-content;
    width: fit-content !important;
}

.list-group-item-action {
    cursor: pointer;
}

table {
    vertical-align: middle !important;
}


.list-group-item {
    margin: 0 !important;
}

.docs {
    h3 {
        margin-top: 20px;
    }

    a {
        text-decoration: none;
    }

    ul, ol {
        margin: 0;
    }

    p, li {
        margin: 5px 0;
    }
}

.cover {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.grecaptcha-badge {
    visibility: hidden;
}

.ginfo {
    font-size: 0.7rem;

    a {
        text-decoration: none !important;
    }

    margin: 0;
}

.credit {
    font-size: 0.8rem;

    a {
        text-decoration: none !important;
    }
}

a.ns-lst-cpy {
    color: #0d6efd;
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: none;
    cursor: pointer;
}
